.adding {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  width: 100%;
  max-width: 560px;
  background: #0e0e0e;
  border-radius: 6px;
  gap: 14px;
}

.adding__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 560px;
  gap: 14px;
}

.adding__headline {
  width: 100%;
  max-width: 560px;
  height: 64px;
  background: rgba(83, 70, 134, 1);
  border: 0px solid transparent;
  border-radius: 0px 64px 0px 0px;
}

.adding__headline h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  color: #fff;
}

.adding__wrap form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
  gap: 16px;
}

.adding__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adding__form-inpt {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 32px;
  width: 528px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  background: #000000;
  border: 2px solid #c8d1e6;
  border-radius: 5px;
}

.adding__form-btn {
  display: flex;
  padding: 6px 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background: linear-gradient(99.05deg, #bc3cd8 0.07%, #c54b8c 106.32%);
  border-radius: 6px;
  border-color: transparent;
  cursor: pointer;
}

.adding__form-btn:hover {
  background: linear-gradient(99.05deg, #d83cd5 0.07%, #c54b4d 106.32%);
}

.adding__inputs select {
  padding-right: 5px;
  cursor: pointer;
}

.input-container {
  position: relative;
}

.error-bubble {
  position: absolute;
  top: 105%;
  left: 0;
  background-color: #f2f2f2;
  color: #1e1e1e;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 14px;
  z-index: 9999;
}

.error-bubble-drop {
  position: absolute;
  top: -4px;
  left: 15px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 7px solid #f2f2f2;
}
