.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  width: 100%;
  max-width: 560px;
  background: #0e0e0e;
  border-radius: 6px;
  gap: 14px;
}

.sign-in__wrap {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 560px;
  gap: 4px;
}

.sign-in__headline {
  width: 100%;
  max-width: 560px;
  height: 64px;
  background: rgba(83, 70, 134, 1);
  border: 0px solid transparent;
  border-radius: 0px 10px 0px 0px;
}

.sign-in__headline h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 10px;
  color: #fff;
}

.sign-in__wrap form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
  gap: 16px;
}

.sign-in__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in__form-inpt {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 32px;
  width: 522px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  background: #000000;
  border: 2px solid #c8d1e6;
  border-radius: 5px;
}

.sign-in__form-btn {
  display: flex;
  padding: 6px 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background: linear-gradient(99.05deg, #bc3cd8 0.07%, #c54b8c 106.32%);
  border-radius: 6px;
  border-color: transparent;
  cursor: pointer;
}

.sign-in__form-btn:hover {
  background: linear-gradient(99.05deg, #d83cd5 0.07%, #c54b4d 106.32%);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.background-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.6);
  backdrop-filter: blur(0.5px);
  z-index: 99;
}

.invalid-email-password {
  color: red;
}
.sign-in-close {
  position: relative;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 6px;
  color: #fff;
  background-color: #bc3cd8;
  transition: all 0.5s ease-out;
}

.sign-in-close:hover {
  color: #f2f2f2;
  background-color: #ce4dd5;
  cursor: pointer;
  transform: rotate(180deg);
}

.sign-in-close::before {
  content: "X";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffff;
  transition: all 0.1s ease-out;
}

.sign-in-close:hover::before {
  transform: translate(-50%, -50%) scale(2);
}

@media (max-width: 921px) {
  /* sign in */

  .sign-in {
    max-width: 408px;
  }

  .sign-in__wrap {
    gap: 14px;
  }

  .sign-in__wrap form {
    margin-bottom: 16px;
    gap: 16px;
  }

  .sign-in__headline h3 {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }

  .sign-in__form-inpt {
    width: 372px;
    height: 31px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 17px;
  }

  .sign-in__form-btn {
    padding: 6px 12px;
    font-weight: 700;
    font-size: 13px;
    line-height: 21px;
    width: 100%;
    max-width: 71px;
    max-height: 36px;
  }
}

@media (min-width: 390px) and (max-width: 450px) {
  /* sign in */

  .sign-in {
    max-width: 348px;
  }

  .sign-in__wrap {
    gap: 14px;
  }

  .sign-in__wrap form {
    margin-bottom: 16px;
    gap: 16px;
  }

  .sign-in__headline h3 {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }

  .sign-in__form-inpt {
    width: 312px;
    height: 31px;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .sign-in__form-btn {
    padding: 6px 12px;
    font-weight: 700;
    font-size: 13px;
    line-height: 21px;
    width: 100%;
    max-width: 71px;
    max-height: 33px;
  }
}
