.users__filter__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.users__filter__logo h3 {
  font-weight: 900;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  max-width: 96px;
}

.users__filter__logo-mobile h3 {
  display: none;
  font-weight: 900;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}

.users__filter__search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.users__filter__search-btn:hover {
  background: linear-gradient(rgb(192, 51, 223), rgb(185, 53, 123));
}

.users__filter__search select {
  display: flex;
  align-items: center;
  width: 160px;
  height: 36px;
  padding-left: 9px;
  appearance: none;
  outline: 0;
  border: 1px solid #bc3cd8;
  border-radius: 6px;
  background: #0e0e0e;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.018em;
  color: #ffffff;
  cursor: pointer;
}

.users__filter__search-box {
  position: relative;
}

.users__filter__search-box-arrow {
  position: absolute;
  display: block;
  top: 18px;
  right: 16px;
  background: #0e0e0e;
  max-width: 5px;
  max-height: 10px;
  border: 1px solid;
  border-radius: 4px;
  pointer-events: none;
}

.users__filter__search-box-arrow::before,
.users__filter__search-box-arrow::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.users__filter__search-box-arrow::before {
  border-top: 5px solid #bc3cd8;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.users__filter__search-option {
  display: flex;
  align-items: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: #ffffff;
  background: rgba(1, 2, 8, 1);
  cursor: pointer;
  box-shadow: 1px 1px 1px grey;
  outline: 0;
  cursor: pointer;
}

.reset-button {
  height: 34px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background: rgba(14, 14, 14, 1);
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.reset-btn {
  display: flex;
  align-items: center;
  max-width: 20px;
}

@media (max-width: 1311px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1100px) {
}

@media (max-width: 921px) {
  /* users filter */

  .users__filter__wrap {
    display: flex;
    justify-content: space-between;
  }

  .users__filter__logo h3 {
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
  }

  .users__filter__search {
    display: flex;
    justify-content: space-between;
  }

  .users__filter__search select {
    padding-left: 20px;
    width: 145px;
    height: 36px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }

  .users__filter__search-box option {
    width: 145px;
  }

  .users__filter__logo-mobile h3 {
    max-width: 115px;
    line-height: 18px;
  }
}

@media (max-width: 766px) {
  /* users filter */

  .users__filter__wrap {
    display: flex;
    justify-content: space-between;
  }

  .users__filter__logo h3 {
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
  }

  .users__filter__search {
    display: flex;
    justify-content: space-between;
  }

  .users__filter__search select {
    padding-left: 20px;
    width: 145px;
    height: 36px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }

  .users__filter__search-box option {
    width: 145px;
  }

  .users__filter__logo-mobile h3 {
    max-width: 115px;
    line-height: 18px;
  }
}

@media (max-width: 576px) {
}

@media (min-width: 390px) and (max-width: 450px) {
  /* users filter */

  .users__filter__wrap {
    display: flex;
    justify-content: space-between;
  }

  .users__filter__logo h3 {
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
  }

  .users__filter__search {
    display: flex;
    justify-content: space-between;
  }

  .users__filter__search select {
    padding-left: 20px;
    width: 145px;
    height: 36px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }

  .users__filter__search-box option {
    width: 145px;
  }

  .users__filter__logo-mobile h3 {
    max-width: 115px;
    line-height: 18px;
  }
}
