*, *::after, *::before {
    box-sizing: border-box;
}

#root {
    width: 100%;
}

#root {
    --perfect-white: #fff;
}  

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1312px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: "Poppins";
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background: rgba(14, 14, 14, 1);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.hidden {
    display: none;
}

.background-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(95, 95, 95, 0.6);
    backdrop-filter: blur(2px);
    z-index: 50;
}

.hidden-background-blur {
    display: none;
}

.background-transparent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 50;
}

@media (max-width: 576px) {
    .container {
        position: relative;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (min-width: 390px) and (max-width: 450px) {
    .container {
        padding: 0 12px;
    }
}