/* users datas */

.users__datas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users__datas-wrap {
  width: 100%;
  height: 100%;
  min-height: 388px;
  text-align: -webkit-center;
}

.users__datas-table {
  border-collapse: separate;
  width: 100%;
  max-width: 950px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.users__datas-table tbody {
  width: max-content;
  text-align: center;
  overflow-x: hidden;
}

.users__datas-table th {
  padding-bottom: 28px;
  width: max-content;
  overflow: hidden;
}

.users__datas-table td {
  vertical-align: middle;
  width: max-content;
}

.users__datas-table td span {
  width: 100%;
  overflow-x: hidden;
}

.users__datas-user-img {
  border-radius: 100%;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.users__datas-user-action {
  position: relative;
}

.users__btn-dots {
  padding: 8px 14px;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.users__btn-dots:hover {
  filter: invert(58%) sepia(100%) saturate(7480%) hue-rotate(280deg)
    brightness(96%) contrast(110%);
}

.users__datas-wrap::-webkit-scrollbar {
  width: 12px;
  height: 3px;
  background: #c993d4;
  border-radius: 4px;
}

.users__datas-wrap::-webkit-scrollbar-thumb {
  border-radius: 10px;
    -webkit-box-shadow: inset 0 0 1px rgba(13, 242, 181, 0.402);
    background: rgb(247, 3, 202);
}

.users__datas-wrap::-webkit-scrollbar-thumb:hover {
  background-color: #c123e5;
}

@media (max-width: 1311px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1100px) {
  .users__datas-table {
    max-width: 798px;
  }
}

@media (max-width: 921px) {
  /* users datas */

  .users__datas {
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 666px;
  }

  .users__datas-wrap {
    width: 100%;
    overflow-x: auto;
  }

  .users__datas-table {
    width: 254%;
  }
}

@media (max-width: 766px) {
  /* users datas */

  .users__datas {
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 546px;
  }

  .users__datas-wrap {
    width: 100%;
    overflow-x: auto;
  }

  .users__datas-table {
    width: 135%;
  }

  .users__datas-table th {
    text-align: center;
    max-width: fit-content;
  }

  .users__datas-table td {
    text-align: center;
    max-width: fit-content;
  }

  .users__datas-table tbody {
    font-size: 15px;
  }

  .users__datas-user-img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 576px) {
  /* users datas */

  .users__datas {
    max-width: 430px;
  }

  .users__datas-table {
    width: 150%;
}
}

@media (min-width: 390px) and (max-width: 450px) {
  /* users datas */

  .users__datas {
    align-items: flex-start;
    width: 100%;
    max-width: 366px;
  }

  .users__datas-wrap {
    width: 100%;
    overflow-x: auto;
  }
}
